In [ ]:
# lambda or anonymous function
# syntax
(lambda parameters: expression)(arguments)

var=lambda parameters: expression
var(arguments)

In [ ]:
'''
Key Points : -
1. lambda functions have no name.
2. lambda functions can take any number of arguments.
3. lambda functions can return just one value in the form of an expression.
4. lambda function definition does not have an explicit return statement but
   it always contain expression which is returned.
5. They are a one-line version of a function and hence cannot contain multiple expresson.
6. They cannot access variable other than those in their parameter list.
7. lambda functions cannot even access global variables.
8. we can store lambda functions in variables, pass as arguments in other function or as a return of other function.
'''

In [1]:
# lambda function without parameter
print(lambda:'Hello Python')
print((lambda:'Hello Python')()) # (lambda:'Hello Python') -- definition of lambda , () -- call of lambda

<function <lambda> at 0x7fbbf8566c10>
Hello Python

In [2]:
# lambda function not assigned to any variable
print((lambda x,y:x*y)(3,2))

6

In [3]:
# lambda function assigned to variable
product=lambda x,y:x*y # definition of lambda
print(product(3,2)) # call of lambda

# **Bear in mind that PEP-8 (the official Python style guide) does not recommend assigning lambdas to variables**

6

In [4]:
# if-else in lambda
print((lambda num:True if num%2==0 else False)(33))
print((lambda num:True if num%2==0 else False)(32))

False
True

In [5]:
# short form
print((lambda num:num%2==0)(33))
print((lambda num:num%2==0)(32))

False
True

In [6]:
print((lambda x,y: x if x>y else y)(10,33))
print((lambda x,y: x>y)(10,33))

33
False

In [7]:
# if elseif else
print((lambda num: '+ve' if num>0 else('0' if num==0 else '-ve'))(-9))
print((lambda num: '+ve' if num>0 else('0' if num==0 else '-ve'))(65))
print((lambda num: '+ve' if num>0 else('0' if num==0 else '-ve'))(0))

-ve
+ve
0

In [8]:
lnum = [-1, 2, 3, 0, -89, 6]
for num in lnum:
    print((lambda num: f"{num} is +ve" if num > 0 else (f"{num} is zero" if num == 0 else f"{num} is -ve"))(num))

-1 is -ve
2 is +ve
3 is +ve
0 is zero
-89 is -ve
6 is +ve

In [9]:
lnum = [-1, 2, 3, 0, -89, 6]
check=lambda num: f"{num} is +ve" if num > 0 else (f"{num} is Zero" if num == 0 else f"{num} is -ve")
for num in lnum:
    print(check(num))

-1 is -ve
2 is +ve
3 is +ve
0 is Zero
-89 is -ve
6 is +ve

In [10]:
# for
lnum=[10,33,43,42,98]
print((lambda lnum: [x**2 for x in lnum])(lnum))

[100, 1089, 1849, 1764, 9604]

In [11]:
# for if
lnum=[10,33,43,42,98]
print((lambda lnum: [x for x in lnum if x%2==0])(lnum))
print((lambda lnum: list(x for x in lnum if x%2==0))(lnum))

[10, 42, 98]
[10, 42, 98]

In [12]:
lnum=[10,33,43,42,98]
print((lambda lnum: tuple(x for x in lnum if x%2==0))(lnum))

(10, 42, 98)

In [13]:
lnum=[10,33,43,42,98]
print((lambda lnum: {x for x in lnum if x%2==0})(lnum))

{10, 42, 98}

In [14]:
# if else for
lnum=[-1,2,3,0,-89,6]
print((lambda listnum: ['+ve'if num>0 else('zero' if num==0 else '-ve') for num in listnum])(lnum))

['-ve', '+ve', '+ve', 'zero', '-ve', '+ve']

In [15]:
lnum=[-1,2,3,0,-89,6]
print((lambda listnum: list('+ve'if num>0 else('zero' if num==0 else '-ve') for num in listnum))(lnum))

['-ve', '+ve', '+ve', 'zero', '-ve', '+ve']

In [16]:
# optional argument in lambda function
print((lambda name,course='Data Analyst': f'Hii {name}, welcome to our {course} program')('aman'))
print((lambda name,course='Data Analyst': f'Hii {name}, welcome to our {course} program')('aman','Machine Learning'))

Hii aman, welcome to our Data Analyst program
Hii aman, welcome to our Machine Learning program

In [17]:
# variable length arguments
print((lambda *num: [x*2 for x in num])(7,8,9,10))
print((lambda *num: [x*2 for x in num])(-72,81,0.5,10,63))

[14, 16, 18, 20]
[-144, 162, 1.0, 20, 126]

In [ ]:
'''
all(): Returns True if all elements in the collection are True (or truthy), otherwise returns False.
any(): Returns True if at least one element in the collection is True (or truthy), otherwise returns False.
'''

In [18]:
# check prime
print((lambda num: num>1 and all(num%i!=0 for i in range(2,num)))(13))
print((lambda num: num>1 and all(num%i!=0 for i in range(2,num)))(9))

True
False

In [19]:
# any prime number in num
print((lambda *nums: any(all(e % i != 0 for i in range(2, e)) and e > 1 for e in nums))(13, 11, 7))
print((lambda *nums: any(all(e % i != 0 for i in range(2, e)) and e > 1 for e in nums))(10, 9, 55))

True
False

In [20]:
# list of is_primes
print((lambda *nums: [all(e % i != 0 for i in range(2, e)) and e > 1 for e in nums])(13, 11, 7, 4, 9))

[True, True, True, False, False]

In [21]:
# list of primes
print((lambda *nums: [e for e in nums if all(e % i != 0 for i in range(2, e)) and e > 1])(13, 11, 7, 4, 9))

[13, 11, 7]

In [22]:
# sum of number
print((lambda *num: sum(num))(7,8,9,10))

34

In [23]:
# vowel count
print((lambda string : sum(1 for c in string if c in 'aeiou') )('python'))

1

In [24]:
# prime count
print((lambda *num: sum((all(e % i != 0 for i in range(2, e)) and e > 1) for e in num))(13, 11, 7, 4, 9))

lum=[13, 11, 7, 4, 9]
print((lambda cnums: sum((all(e % i != 0 for i in range(2, e)) and e > 1) for e in cnums))(lnum))

3
2

In [25]:
# sum of prime numbers among list
lnum=[13, 11, 7, 4, 9]
print((lambda cnums: sum([e for e in cnums if all(e % i != 0 for i in range(2, e)) and e > 1]))(lnum))

31

In [26]:
#map(): Applies a given function to each item in an iterable and returns a new iterator containing the results.

numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x**2, numbers)
print(list(squared))

[1, 4, 9, 16, 25]

In [27]:
#filter(): Filters items from an iterable based on a given function and returns a new iterator containing
#only the items that satisfy the condition.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[2, 4, 6, 8, 10]

In [28]:
# reduce() : reducing the sequence of elements down to a single value
# from python 3.9, we need to import the reduce() function from the functools module.
# syntax : functools.reduce(function, iterable[, initial])

from functools import reduce

numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)

# initial (optional): An initial value to start the cumulative computation.
# If not provided, the first two elements of the iterable are used as the initial values.

120

In [29]:
# Avd. Sorting problem
students = [
    {'name': 'Alice', 'score': 85},
    {'name': 'Bob', 'score': 92},
    {'name': 'Charlie', 'score': 78},
    {'name': 'David', 'score': 95}
]

# Sort the list of dictionaries based on the 'score' key
sorted_students = sorted(students, key=lambda student: student['score'], reverse=True)

for student in sorted_students:
    print(f"Name: {student['name']}, Score: {student['score']}")

Name: David, Score: 95
Name: Bob, Score: 92
Name: Alice, Score: 85
Name: Charlie, Score: 78

In [30]:
# lambda function as argument
def apply_operation(operation, x, y):
    return operation(x, y)

print(apply_operation(lambda x, y: x + y, 5, 3))
print(apply_operation(lambda x, y: x - y, 10, 4))
print(apply_operation(lambda x, y: x * y, 7, 2))

8
6
14

In [31]:
apply_operation=lambda operation, x, y : operation(x,y)


print(apply_operation(lambda x, y: x + y, 5, 3))
print(apply_operation(lambda x, y: x - y, 10, 4))
print(apply_operation(lambda x, y: x * y, 7, 2))

8
6
14

In [32]:
print((lambda operation, x, y : operation(x,y))(lambda x, y: x + y, 5, 3))
print((lambda operation, x, y : operation(x,y))(lambda x, y: x - y, 10, 4))
print((lambda operation, x, y : operation(x,y))(lambda x, y: x * y, 7, 2))

8
6
14

In [33]:
# lambda function in return statement
def is_prime(num): # is_prime --> function
    return (lambda n: n>1 and all(n%i!=0 for i in range(2,n)))(num)
print(is_prime(11))

check_prime=lambda n: n>1 and all(n%i!=0 for i in range(2,n)) # check_prime is variable
print(check_prime(11))

True
True

In [34]:
# One can call other functions (with/without arguments) from inside a lambda function.
def add(x, y):
    return x + y

def multiply(x, y):
    return x * y

lambda_with_function_call = lambda a, b: add(a, b) + multiply(a, b)

result = lambda_with_function_call(3, 4)
print(result)

19

In [35]:
# lambda lambbda
print((lambda B: (lambda P: B**P))(2)(3))
print((lambda B: (lambda P: B**P))(3)(2))

8
9

In [ ]:
!! Thank You !!