In [ ]:
# --set-- #
# A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements.

In [1]:
set1={1,2,"hello",3+4j,2}
print(set1) # not allow duplicate values
print(type(set1)) # type to check data type

{'hello', 1, 2, (3+4j)}
<class 'set'>

In [2]:
string='Hello'
value1=8
cvalue=3+4j
value2=8
value3=8.0 # 8.0 and 8 consider the same value
bool1=True
set2={string,value1,cvalue,value2,value3,bool1}
print(set2)

{8, True, 'Hello', (3+4j)}

In [3]:
set3={True,1}
print(set3) # True and 1 consider the same value

{True}

In [4]:
set4={0j,False,()}
print(set4) # 0j and False consider the same value, second element is empty tuple.

{0j, ()}

In [ ]:
# hashable type : int,float,complex,str,bool,tuple,def fun
# unhashable type : list,set,dict

In [5]:
set5={(1,1,2,"hello",True,2.0)}
print(set5)
print(len(set5)) # len - return the number of items in a container

{(1, 1, 2, 'hello', True, 2.0)}
1

In [16]:
set6={1,2,2.0,"hello",(True,2023),3+4j,2+0j} # 2,2.0 and 2+0j consider the same value.
print(set6)
print(len(set6))

{1, 2, 'hello', (True, 2023), (3+4j)}
5

In [9]:
def is_even(num):
  if num%2==0:
    return True
  else:
    return False
set7={is_even}
print(set7)
print(len(set7))

{<function is_even at 0x7f6140986b90>}
1

In [11]:
set8={[1,2,2,"hello",3+4j]} # set can't contain unhashable type like list,set,dict
print(set8)
print(len(set8))

# set of set is also not possible

TypeError: ignored

In [12]:
set9={{1,2,2,"hello",3+4j}}
print(set9)
print(len(set9))

TypeError: ignored

In [17]:
set10={*[1,2,2,"hello",3+4j]} # unpacking operator (*) used for iterable unpacking
print(set10)
print(len(set10))

{'hello', 1, 2, (3+4j)}
4

In [13]:
setx={} # empty dict not a empty set
print(type({}))

<class 'dict'>

In [14]:
sety=set() # empty set
print(sety)

set()

In [20]:
set11={1,2,'hello',2.0,3+4j,2+0j}
print(set11[1]) # 'set' object is not subscriptable

TypeError: ignored

In [ ]:
# In Python, an object is considered "subscriptable" if it supports the use of square brackets ([]) to access its elements.

In [22]:
# -- loop in set -- #

set12={1,2,'hello',2.0,3+4j,2+0j}
for i in range(len(set12)):
  print(set12[i])

TypeError: ignored

In [23]:
set13={1,2,'hello',2.0,3+4j,2+0j}
for el in set13:
  print(el)

hello
1
2
(3+4j)

In [24]:
set14={1,2,'hello',2.0,3+4j,2+0j}
while set14:
  el=set14.pop()
  print(el)

hello
1
2
(3+4j)

In [29]:
def is_even(num):
  if num%2==0:
    return 'Even'
  else:
    return 'odd'
def is_prime(number):
    if number == 1:
        return 'neither prime nor composite'
    else:
        for i in range(2, number):
            if number % i == 0:
                return 'composite'
        return 'prime'
set15={1,2,3,4,5,6,7,8,9}
set16={is_even,is_prime}
for el in set15:
  for fn in set16:
    r=fn(el)
    print(r,end=' ')
  print()

odd neither prime nor composite
Even prime
odd prime
Even composite
odd prime
Even composite
odd prime
Even composite
odd composite

In [30]:
num=int(input('Enter Value : '))
sq_set={x*x for x in range(1,num)}
print(sq_set)
print(type(sq_set))

Enter Value : 9
{64, 1, 4, 36, 9, 16, 49, 25}
<class 'set'>

In [ ]:
# set constructor

'''
The set() constructor can accept various iterable objects like lists, tuples, strings, etc.,
and it will create a new set containing the unique elements from the iterable

'''

In [35]:
set17=set([1,2,2.0,"hello",3+4j,2+0j])
print(set17)
print(len(set17))

{'hello', 1, 2, (3+4j)}
4

In [37]:
set18=set((1,2,2.0,"hello",3+4j,2+0j))
print(set18)
print(len(set18))

{'hello', 1, 2, (3+4j)}
4

In [38]:
set19=set({1,2,2.0,"hello",3+4j,2+0j})
print(set19)
print(len(set19))

{'hello', 1, 2, (3+4j)}
4

In [41]:
set20=set((1,2,2.0),("hello",3+4j,2+0j))
print(set20)
print(len(set20))

TypeError: ignored

In [42]:
set21=set('Python')
print(set21)
print(len(set21))

{'o', 'P', 'n', 'h', 'y', 't'}
6

In [43]:
set22=set('Python','welcome')
print(set22)
print(len(set22))

TypeError: ignored

In [44]:
set23=set(('Python','welcome'))
print(set23)
print(len(set23))

{'welcome', 'Python'}
2

In [57]:
# =
set24={1,2,"hello",3+4j}
set25=set24
print(set25)

{'hello', 1, 2, (3+4j)}

In [62]:
# == , !=
set26=[1,2,3]
set27=[1,2,3,4]
print(set26==set27)
print(set26!=set27)

False
True

In [8]:
# in , not in
print(True in {1,2,2.0,"hello",3+4j,2+0j}) # True and 1 consider the same value in set
print(True in {2,2.0,"hello",3+4j,2+0j})
print('hello' in {2,2.0,"hello",3+4j,2+0j})

True
False
True

In [54]:
# +
set28={1,2,3}
set29={4,5}
set30=set28+set29
print(set30)

TypeError: ignored

In [55]:
# *
set31={1,2,3}
value=4
set32=set31*4
print(set32)

TypeError: ignored

In [56]:
# +=
set33={1,2,3}
set34={4,5}
set33+=set34
print(set33)

TypeError: ignored

In [59]:
# max,min,sum,sorted

set35=[1,2,3,4,5,6,7,8,9]
print(max(set35))
print(min(set35))
print(sum(set35))
print(sorted(set35,reverse=True))

9
1
45
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [61]:
# del

set36={100,101,102}
del set36
print(set36)

NameError: ignored

In [63]:
# enumerate

set37={'a','b','c','d',}
for i in enumerate(set37):
  print(i,end='')

(0, 'a')(1, 'c')(2, 'b')(3, 'd')

In [65]:
# all,any

set38 = {2, 4, 6, 8, 10}
are_all_even = all(item % 2 == 0 for item in set38)
print("Are all elements even? : ", are_all_even)
is_any_greater_than_7 = any(item > 7 for item in set38)
print("Is any element greater than 7? : ", is_any_greater_than_7)

Are all elements even? :  True
Is any element greater than 7? :  True

In [70]:
# methods

set39 = {1,2,3,4,5}
set40 = {6,7,8}

# update
set39.update(set40)
print(set39) # non-destructive

# add
set41 = {1, 2, 3}
set41.add(4)
print(set41)

# remove
set41.remove(2)
print(set41)

# discard
set41.discard(3) # does not give error if x is not present in the set
print(set41)

# pop
popped_element = set41.pop()
print("Popped element:", popped_element)
print(set41)

# clear
set41.clear()
print(set41)

# copy
set42= {10, 20, 30}
copied_set42 = set42.copy()
print(copied_set42)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4}
{1, 3, 4}
{1, 4}
Popped element: 1
{4}
set()
{10, 20, 30}

In [34]:
# set operations

# Intersection
print({1, 2, 3, 4, 5}.intersection({3, 4, 5, 6})) # Method
print({1, 2, 3, 4, 5} & {3, 4, 5, 6}) # operator
# Union
print({1, 2, 3, 4, 5}.union({3, 4, 5, 6}))
print({1, 2, 3, 4, 5} | {3, 4, 5, 6})
# Difference
print({1, 2, 3, 4}.difference({2, 3, 5}))
print({1, 2, 3, 4} - {2, 3, 5})
# Symmetric difference with
print({1, 2, 3, 4}.symmetric_difference({2, 3, 5}))
print({1, 2, 3, 4} ^ {2, 3, 5})
# Superset check
print({1, 2}.issuperset({1, 2, 3}))
print({1, 2} >= {1, 2, 3})
# Subset check
print({1, 2}.issubset({1, 2, 3}))
print({1, 2} <= {1, 2, 3})
# Disjoint check  # True if two sets have null intersection
print({1, 2}.isdisjoint({3, 4}))
print({1, 2}.isdisjoint({1, 4}))

{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 4}
{1, 4}
{1, 4, 5}
{1, 4, 5}
False
False
True
True
True
False

In [ ]:
# non-destructive vs destructive

'''
In Python sets, there are methods that perform operations and return a new set (non-destructive)
and methods that perform operations and update the set in place (destructive).
The methods that update the set in place generally have a _update suffix in their names.

operators -

|= - update
-= - difference_update
&= - intersection_update
^= - symmetric_difference_update
'''

In [71]:
set43={1,2,3,4,5}
set44={3,4,5,6,7}
sd=set43.difference(set44)
print(sd)

{1, 2}

In [9]:
set45={1,2,3,4,5}
set46={3,4,5,6,7}
set45.difference_update(set46) # set45-=set46
print(set45)

{1, 2}

In [ ]:
# frozenset

'''
The primary difference between a regular set and a frozenset is that a set is mutable (its elements can be changed),
while a frozenset is immutable (its elements cannot be changed).
This makes frozensets useful when you need to use sets as elements in other sets or as keys in dictionaries where immutability is required.
'''

In [67]:
# creating a frozenset

set47 = {1, 2, 3}
frozen_set = frozenset(set47)
frozen_set.add(4)

AttributeError: ignored

In [ ]:
# set of frozensets

set_of_frozensets = {frozenset({1, 2}), frozenset({3, 4})}

In [74]:
# list of lists into a set of tuples

def convert_list_of_lists_to_set_of_tuples(list_of_lists):
    set_of_tuples = set(tuple(inner_list) for inner_list in list_of_lists)
    return set_of_tuples

list_of_lists = [[1, 2], [3, 4], [5, 6]]
set_of_tuples = convert_list_of_lists_to_set_of_tuples(list_of_lists)
print(set_of_tuples)

{(1, 2), (3, 4), (5, 6)}

In [80]:
# common_elements

def find_common_elements(list_of_sets):
    if not list_of_sets :
        return set()
    req_set = list_of_sets[0]
    for el in list_of_sets[1:]:
        req_set = req_set.intersection(el)
    return req_set

set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}
set_C = {2, 3, 7, 8}
common_elements = find_common_elements([set_A, set_B, set_C])
print(common_elements)

{3}

In [ ]:
!! Thank you !!